*.png
*.jpg
*.img
*.json

__pycache__
train_data_path
result
*result
temp
*.pyc
.DS_Store
*.db
*.swp
build
dist
.vscode
.pytest_cache
.dvc

# ignore model files.
training/network/pretrained
training/tools/Video_FrameDraw/models
yolov4_training/scripts
yolov4_training/darknet53.conv.74
yolov4_training/yolov4.conv.137
yolov4_training/build_docker.sh
yolov4_training/dockerfile_tmp
yolov4_training/yolov4.conv.137
det-demo-tmi/voc_dog
